<div class="container">
 <div class="row">
  <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
   <div class="form-group">
    <h1>Editing Book</h1>
     <%= form_with model: @book do |f| %>
      <div class="field">
       <%= f.label :Title %></br>
       <%= f.text_field :title, class: "col-xs-12" %>
      </div>

      <div class="form-body">
       <%= f.label :Opinion %></br>
       <%= f.text_area :body, class: "col-xs-12" %>
      </div>

      <div class="actions"></br>
       <%= f.submit 'Updata Book', class: "btn btn-sm btn-success" %>
      </div>
     <% end %>
     
    <div class="menu">
      <%= link_to "Show", book_path(@book.id) %>
      |
      <%= link_to "Back", books_path %>
    </div>
   </div>
  </div>
 </div>
</div>